@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

    html {
    font-size: 110%;
    }

}
    
@media only screen and (min-width: 90em) {
    
    html {
    font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
   
    html {
    font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.h2 {
    background-color: #e2e2e2;
    text-align:center;
}


img {
  display: block;
  width: 100%;
}

.header {
    background-color: #d0d0d0;
    overflow: hidden;
}

.footer {
    background-color: #d0d0d0;
 
   
}

.lightgrey {
    background-color: #e2e2e2
}

.lightergrey {
    background-color: #ebebeb
}

.title {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}

.nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #0074D9;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    background-color: #0074D9;
    color: white;
} 

@media only screen and (min-width: 25em) {
    .nav li {
        display: inline-block;
    }
    
    .nav {
        text-align: center;
    }
    .footer {
        text-align: center;
}



@media only screen and (min-width: 40em) {
    .title {
        float: left;
        margin: 0;
    }
    .nav {
        float: left;
    }
    
    .footer .nav {
        float:right;
    }
    .footer p {
        text-align: left;
    }
}
@media only screen and (min-width: 60em) {
    .spaceafter {
        padding-left: 2em;
        }
    dl {
        overflow: hidden;
        }

    dt {
        float: left;
        clear: left;
        width: 8rem;
        }

    dd {
        float: left;   
        }
}